{% extends 'layout.html' %}

{% block main %}

<style>
  #container {
    position: relative;
  }
  #overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
  }
  #videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
  }
</style>

<canvas id="canvas"></canvas>
<div id="container">
  <video id="videoel" width="400" height="300" autoplay loop></video>
  <canvas id="overlay" width="400" height="300"></canvas>
</div>
<input class="btn" type="button" value="wait, loading video" disabled="disabled" onclick="startVideo()" id="startbutton"></input>

<script src="/public/js/examples/face-detection.js"></script>


{% endblock %}
