{% extends 'layout.html' %}

{% block main %}

<style>
</style>

<div id="viewport">
  <canvas id="canvas" resize></canvas>
</div>

<input class="ui blue button" type="button" value="Toggle Wireframe" onclick="toggleWireframe()" id="wireframe-button"></input>
<input class="ui pink button" type="button" value="Load SVG" onclick="loadSVG()" id="load-button"></input>
<input class="ui pink button" type="button" value="1" onclick="loadSVG('mickey')" id="load-button-1"></input>
<input class="ui pink button" type="button" value="2" onclick="loadSVG('donald')" id="load-button-2"></input>


<input class="ui green button" type="button" value="wait, loading video" disabled="disabled" onclick="startVideo()" id="startbutton"></input>
<div id="container" style="display:none;">
  <!-- <button class="ui green button">Start</button> -->
  <video id="videoel" width="400" height="300" autoplay loop></video>
  <canvas id="overlay" width="400" height="300"></canvas>
</div>

<script src="/js/modules/build.js"></script>

<script src="/js/prototype/face-detection.js"></script>
<script src="/js/prototype/draw.js"></script>

<script src="/js/prototype/setup.js"></script>
<script src="/js/prototype/draw-objects.js"></script>
<script src="/js/prototype/event.js"></script>
<script src="/js/prototype/compute.js"></script>




{% endblock %}
