{% extends 'layout.html' %}

{% block main %}

<style>
</style>

<canvas id="canvas" resize></canvas>
<div id="container">
  <!-- <button class="ui green button">Start</button> -->
  <input class="ui green button" type="button" value="wait, loading video" disabled="disabled" onclick="startVideo()" id="startbutton"></input>
  <video id="videoel" width="400" height="300" autoplay loop></video>
  <canvas id="overlay" width="400" height="300"></canvas>
</div>

<script src="/js/examples/face-detection.js"></script>
<script src="/js/examples/prototype.js"></script>


{% endblock %}
