html, body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

#canvas {
  width: 50%;
  height: 100%;
  position: absolute;
  display: none;
  right: 0;
}

#viewport {
  width: 100%;
  height: 100%;
}


#startbutton {
  position: absolute;
  bottom: 20px;
  right: 315px;
}
#wireframe-button {
  position: absolute;
  bottom: 20px;
  right: 140px;
}

#load-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#load-button-2 {
  position: absolute;
  bottom: 70px;
  right: 20px;
}
#load-button-1 {
  position: absolute;
  bottom: 120px;
  right: 20px;
}


#container {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#videoel {
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#overlay {
  position: absolute;
  bottom: 0px;
  right: 0px;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}